<!DOCTYPE html>
<html>
  <head>
    <title>Image Search Abstraction Layer</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>
        Image Search Abstraction Layer
      </h1>
      <h2> Free Code Camp Challenge</h2>
      
    </header>

     <div>
      <h4>User stories:</h4>
      <li>I can get the image URLs, alt text and page urls for a set of images relating to a given search string.</li>
      <li>I can paginate through the responses by adding a ?offset=2 parameter to the URL.</li>
      <li>I can get a list of the most recently submitted search strings.</li>
      <br>
      =======================================================================
    </div>
    
    <p>
      Sample Usage:<br><br> 
      for image abstraction: <br>
      <a href="https://imgabstraction-mzbanez.glitch.me/api/imagesearch/cats?offset=5" target="_blank"> https://imgabstraction-mzbanez.glitch.me/api/imagesearch/cats?offset=5 </a><br><br>
      for recent search: <br>
      <a href="https://imgabstraction-mzbanez.glitch.me/api/latest" target="_blank">https://imgabstraction-mzbanez.glitch.me/api/latest</a>
      <br><br>
    </p>


  </body>
</html>
